.mainDiv{
    display: flex;
    justify-content: space-between;
    background-color: rgb(242,245,250);
    max-width: 100vw;
    height: auto;
    flex-direction: row;
    position: relative;
    overflow-x: hidden;
}
.asideDiv{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20vw;
    overflow-y: scroll;
    box-shadow: 0 40px 60px -40px #2d2d2d;
    background-color: #fff;
}
.asideDiv::-webkit-scrollbar {
    display: none;
  }

.contentDiv{
    min-height: 100vh;
    width: 80%;
    margin-left: 20vw;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    background-color: rgb(242,245,250);
    /* background-color: rgb(239, 208, 208); */
    box-sizing: border-box;
    overflow-x:hidden;
}
.asideLogo{
  height: 25vh;
  width: 100%;
  padding-top: 10vh;
  color: rgb(231, 75, 47);
  padding-left: 5%;
}

.asideList{
   height: 80vh;
   margin-bottom: 50px;
}
.uList{
    list-style: none;
     display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #6d6b6b;
}
.uListItem{
    font-size: medium;
    margin-top: 20px;
}
.uListItem:hover{
    cursor: pointer;
}
.asideIcon{
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
    margin-right: 8px;
}
.headContent{
    width: 100%;
    background-color: #fff;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 40px 60px -50px #2d2d2d;
    padding: 1%;
    border: .1px solid rgb(212, 211, 211);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyButton{
    border: none;
    background-color: rgb(242,245,250);
    border-radius: 50%;
    width: 50px;
    height: auto;
}
.refrralDiv{
    width: 100%;
    background-color: #fff;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 40px 60px -50px #2d2d2d;
    padding: 1%;
    border: .1px solid rgb(210, 209, 209);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    color: rgb(105,105,105);
}
.refraalContainer{
    width: 100%;
    height: 40px;
    padding: 5px;
    background-color: rgb(242,245,250);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.sponserDiv{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    margin-top: 25px;
}
.infoDiv{
    width: 23vw;
    height: 150px;
    border-radius: 10px;
    color: black;
    /* background-image: linear-gradient(to right,rgb(39,76,180),rgb(70,140,245)) ; */
    background-image: linear-gradient(to right,rgb(164,129,17),rgb(246, 231, 121)) ;
    margin: 10px;
    padding: 2.5%;
}
.buttonDiv{
    height: 100px;
    width: 16vw;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    align-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: blue;
}
.buttonDiv:hover{
    cursor: pointer;
}
.buttonIcon{
    height: 32px;
    width: 32px;
    margin-bottom: 5px;
    display: block;
}
.bonous{
    height: 120px;
    width: 45%;
    margin: 10px;
    background-image: linear-gradient(to right,rgb(247,107,45),rgb(239,164,93));
    border-radius: 10px;
    color: white;
    padding: 2%;
}
.infoDiv{
    font-size: 2rem;
    font-weight: 500;
}
.sideButton{
    display: none;
}
.adminButton{
    margin-right: 20px;
}
/* Side bar */

.sideBar{
    width: 300px;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    z-index: 20;
    background-color: #fff;
    color: black;
    opacity: 1;
    display: hidden;
    transition: left ease-in-out 0.3s;
}
.sideBar::-webkit-scrollbar {
    display: none;
  }

.sideUl{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    margin-top: 20vh;
}
.modalDiv{
    position: fixed;
    min-width: 33%;
    top: 20px;
    left: 30vw;
    border: 2px solid black;
    z-index: 5;
    background-color: rgb(61, 70, 85);
    padding: 15px;
    height: auto;
    border-radius: 15px;
    color: rgb(13,202,240);
  }
  .modalContainer{
    position: fixed;
    top: 0px;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
  }
  .modalContainer::before{
    background-color: #000;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
   width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5;
  }
.typeButton{
    margin: 10px 20px;
}

/* Media queries */

@media screen and (max-width: 1200px) {
    .mainDiv {
        flex-direction: column;
    }
    .asideDiv {
        width: 25vw;
    }
    .contentDiv {
        width: 75%;
        margin-left: 25vw;
    }
}

@media screen and (max-width: 1024px) {
    .asideDiv {
        width: 30vw;
    }
    .contentDiv {
        width: 70%;
        margin-left: 30vw;
    }
    .infoDiv, .buttonDiv {
        width: 30vw;
    }
}

@media screen and (max-width: 800px) {
    .asideDiv {
        display: none;
    }
    .contentDiv {
        width: 100%;
        margin-left: 0;
    }
    .infoDiv, .buttonDiv {
        width: 45vw;
    }
    .sideButton{
        display: block;
    }
    .adminButton{
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .contentDiv {
        padding: 2%;
    }
    .headContent, .refrralDiv, .sponserDiv, .bonous {
        width: 100%;
        margin: 10px 0;
    }
    .infoDiv, .buttonDiv{
        width: 46%;
        height: 100px;
        font-size: 1rem;
        font-weight: 500;
    }
    .modalContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modalDiv{
        width: 80%;
        position: initial;
    }
    .headContent, .refrralDiv {
        padding: 2%;
    }
    .asideLogo {
        padding-top: 5vh;
        padding-left: 2%;
    }
    .uListItem {
        font-size: small;
    }
}

@media screen and (max-width: 500px) {
    .contentDiv {
        padding: 2%;
    }
    .headContent, .refrralDiv, .sponserDiv, .bonous {
        width: 100%;
        margin: 10px 0;
    }
    .infoDiv, .buttonDiv{
        width: 44%;
        height: auto;
    }
    .headContent, .refrralDiv {
        padding: 1%;
    }
    .refraalContainer{
        height: auto;
    }
    .asideLogo {
        padding-top: 5vh;
        padding-left: 2%;
        height: 15vh;
    }
    .uListItem{
        font-size: larger !important;
    }
    .uListItem {
        font-size: small;
    }
    .copyButton {
        width: 40px;
    }
    .buttonIcon {
        height: 24px;
        width: 24px;
    }
}
@media screen and (max-width: 350px) {
    .contentDiv {
        padding: .5%;
    }}